.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.login-container {
  position: relative;
  background: white;
  padding: 2.7rem;
  border-radius: 10px;
  width: 100%;
  min-width: 200px;
  max-height: 72vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
}
.login-container::-webkit-scrollbar {
  display: none;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2rem;
  color: #767676;
  background: none;
  border: none;
  cursor: pointer;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
.login-container input {
  display: block;
  width: 90%;
  padding: 18px;
  padding-left: 25px;
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-bottom: 1.1rem;
  font-weight: bold;
  font-size: 14px;
}
.login-container input::placeholder {
  color: #b4b4b4;
}
.login-container input:focus {
  outline: none;
  box-shadow: none;
}
.password-wrapper {
  position: relative;
}
.password-wrapper input {
  padding-right: 10px;
}
.toggle-icon {
  position: absolute;
  top: 27px;
  right: 40px;
  cursor: pointer;
  color: #666;
}
.login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #e4c34f;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}
.forgot-password {
  text-align: center;
  margin: 20px 0 8px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
}
.highlight {
  color: #d2b449;
  font-weight: 600;
  cursor: pointer;
  padding-left: 20px;
}
.highlight a:hover {
  text-decoration: underline;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  padding-left: 15px;
  font-weight: bold;
}

/* Register */
.Register-form {
  margin-top: -30px;
}
.register-text {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.register-text a:hover {
  text-decoration: underline;
}
@media (max-width: 710px) {
  .login-container {
    width: 70%;
    min-width: unset;
    padding: 1.5rem;
  }
  .login-container h2 {
    font-size: 1rem;
  }
  .login-container input {
    width: 90%;
    padding: 8px;
    font-size: 12px;
  }
  label {
    font-size: 0.8rem;
  }
  .login-btn {
    padding: 10px;
    font-size: 12px;
    margin-top: 15px;
  }
  .close-button {
    right: 1rem;
    font-size: 1.5rem;
  }
  .toggle-icon {
    right: 35px;
    top: 17px;
  }
  .forgot-password,
  .register-text {
    font-size: 12px;
  }
  .Register-form {
    margin-top: 10px;
    margin-left: 10px;
  }
  .register-text {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  .login-container {
    width: 70%;
    min-width: unset;
    padding: 1.5rem;
  }
  .login-container h2 {
    font-size: 1rem;
  }
  .login-container input {
    width: 90%;
    padding: 8px;
    font-size: 12px;
  }
  label {
    font-size: 0.8rem;
  }
  .login-btn {
    padding: 10px;
    font-size: 12px;
    margin-top: 15px;
  }
  .close-button {
    right: 1rem;
    font-size: 1.5rem;
  }
  .toggle-icon {
    right: 25px;
    top: 17px;
  }
  .forgot-password,
  .register-text {
    font-size: 12px;
  }
}
